# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import Google_API_KEY

In [3]:
# Configure gmaps
gmaps.configure(api_key=Google_API_KEY)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
#file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
#city_data_df = # YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,College,US,64.8569,-147.8028,27.59,93,100,3.44,mist
1,1,Bonfim,BR,3.0833,-59.9500,90.16,52,100,5.06,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,62.22,71,75,11.50,broken clouds
3,3,Hobart,AU,-42.8794,147.3294,44.46,91,100,12.66,shower rain
4,4,Esperance,AU,-33.8667,121.9000,54.18,85,33,8.70,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your desired minimum temperature for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bonfim,BR,3.0833,-59.9500,90.16,52,100,5.06,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,77.16,88,40,6.91,scattered clouds
11,11,Kavaratti,IN,10.5669,72.6420,80.33,79,94,11.92,overcast clouds
13,13,Hilo,US,19.7297,-155.0900,81.25,69,75,6.91,broken clouds
15,15,Atuona,PF,-9.8000,-139.0333,77.13,80,12,18.32,few clouds
17,17,Puerto Carreno,CO,6.1890,-67.4859,93.18,55,40,4.43,scattered clouds
22,22,Bondoukou,CI,8.0333,-2.8000,78.82,65,100,3.13,overcast clouds
30,30,Dekar,BW,-21.5333,21.9333,82.38,25,17,9.15,few clouds
42,42,Butaritari,KI,3.0707,172.7902,79.75,81,90,10.02,overcast clouds
45,45,Kapaa,US,22.0752,-159.3190,79.12,80,20,12.66,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
#clean_travel_cities = # YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

clean_travel_cities_df = preferred_cities_df.dropna()
clean_travel_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bonfim,BR,3.0833,-59.9500,90.16,52,100,5.06,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,77.16,88,40,6.91,scattered clouds
11,11,Kavaratti,IN,10.5669,72.6420,80.33,79,94,11.92,overcast clouds
13,13,Hilo,US,19.7297,-155.0900,81.25,69,75,6.91,broken clouds
15,15,Atuona,PF,-9.8000,-139.0333,77.13,80,12,18.32,few clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Meulaboh,ID,4.1363,96.1285,75.22,92,100,4.32,overcast clouds
689,689,Touros,BR,-5.1989,-35.4608,80.44,74,29,12.12,scattered clouds
695,695,San Policarpo,PH,12.1791,125.5072,81.72,85,100,14.94,light rain
697,697,Amahai,ID,-3.3333,128.9167,79.68,84,100,2.62,overcast clouds
700,700,Jacareacanga,BR,-6.2222,-57.7528,91.53,45,99,1.92,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

              City Country  Max Temp Current Description      Lat       Lng
1           Bonfim      BR     90.16     overcast clouds   3.0833  -59.9500
6            Vaini      TO     77.16    scattered clouds -21.2000 -175.2000
11       Kavaratti      IN     80.33     overcast clouds  10.5669   72.6420
13            Hilo      US     81.25       broken clouds  19.7297 -155.0900
15          Atuona      PF     77.13          few clouds  -9.8000 -139.0333
..             ...     ...       ...                 ...      ...       ...
682       Meulaboh      ID     75.22     overcast clouds   4.1363   96.1285
689         Touros      BR     80.44    scattered clouds  -5.1989  -35.4608
695  San Policarpo      PH     81.72          light rain  12.1791  125.5072
697         Amahai      ID     79.68     overcast clouds  -3.3333  128.9167
700   Jacareacanga      BR     91.53     overcast clouds  -6.2222  -57.7528

[197 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [10]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bonfim,BR,90.16,overcast clouds,3.0833,-59.9500,
6,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
11,Kavaratti,IN,80.33,overcast clouds,10.5669,72.6420,
13,Hilo,US,81.25,broken clouds,19.7297,-155.0900,
15,Atuona,PF,77.13,few clouds,-9.8000,-139.0333,
17,Puerto Carreno,CO,93.18,scattered clouds,6.1890,-67.4859,
22,Bondoukou,CI,78.82,overcast clouds,8.0333,-2.8000,
30,Dekar,BW,82.38,few clouds,-21.5333,21.9333,
42,Butaritari,KI,79.75,overcast clouds,3.0707,172.7902,
45,Kapaa,US,79.12,few clouds,22.0752,-159.3190,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_API_KEY
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
# YOUR CODE HERE
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bonfim,BR,90.16,overcast clouds,3.0833,-59.9500,
6,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Kavaratti,IN,80.33,overcast clouds,10.5669,72.6420,Green leaf
13,Hilo,US,81.25,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Atuona,PF,77.13,few clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
682,Meulaboh,ID,75.22,overcast clouds,4.1363,96.1285,Kost Pria
689,Touros,BR,80.44,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
695,San Policarpo,PH,81.72,light rain,12.1791,125.5072,Agapita M. Nicart
697,Amahai,ID,79.68,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
700,Jacareacanga,BR,91.53,overcast clouds,-6.2222,-57.7528,Casa do Ian😎

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
#clean_hotel_df = # YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Kavaratti,IN,80.33,overcast clouds,10.5669,72.6420,Green leaf
13,Hilo,US,81.25,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Atuona,PF,77.13,few clouds,-9.8000,-139.0333,Villa Enata
17,Puerto Carreno,CO,93.18,scattered clouds,6.1890,-67.4859,Casa Hotel Victoria

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [15]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [17]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [18]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Hotel Victoria</dd>\n<dt>City</dt><dd>Puerto Carreno</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 93.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Prestige Hotel</dd>\n<dt>City</dt><dd>Bondoukou</dd>\n<dt>Country</dt><dd>CI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 79.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tina Hotel</dd>\n<dt>City</dt><dd>Pau Brasil</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.45 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
6  -21.2000 -175.2000
11  10.5669   72.6420
13  19.7297 -155.0900
15  -9.8000 -139.0333
17   6.1890  -67.4859
22   8.0333   -2.8000
42   3.0707  172.7902
45  22.0752 -159.3190
46  -0.6000   73.0833
50 -15.4642  -39.6511

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
# YOUR CODE HERE
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))